<ng-container *ngIf="(result$ | async) as borrowers">

  <h1 id="tableLabel" class="mb-4">Borrowers</h1>

  <p *ngIf="borrowers.length === 0" class="text-muted"><em>No one loaned this book</em></p>

  <table class="table table-striped table-bordered table-hover" aria-labelledby="tableLabel" *ngIf="borrowers.length">

  <thead class="thead-dark">
  <tr>
    <th scope="col">Borrower ID</th>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">Email</th>
    <th scope="col">Phone number</th>
    <th scope="col">Loan date</th>
    <th scope="col">Return date</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let borrower of borrowers">
    <td class="text-truncate">{{ borrower.borrowerId }}</td>
    <td>{{ borrower.name }}</td>
    <td>{{ borrower.surname }}</td>
    <td>{{ borrower.email }}</td>
    <td>{{ borrower.phoneNumber }}</td>
    <td>{{ borrower.loanDate }}</td>
    <td>{{ borrower.returnDate }}</td>
  </tr>
  </tbody>
  </table>

</ng-container>
